# Ignore source & configuration code
src
tsconfig.json
prettier.config.cjs
sample.zod.schema.js
.github

# Ignore docker-related files
Dockerfile
.dockerignore
docker-react-entrypoint.sh
nginx.conf

# Ignore nix development flakes
flake.*
